.header{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 0px 20px;
	background:#fff; 
	z-index: 999999999;
	box-shadow: -2px 2px 5px rgba(20,20,20,.3)
}
.container-box{
	padding-top: 50px
}
.logo{
	float: left;
	width: 100px；
	padding:5px 0
}
.logo img{
	height: 50px
}
.nav{
	float: right;

}
.nav ul{
	float: right;
	margin-left: 20px
}
.nav li{
	float: left;
	width: 100px;
	text-align: center;
	line-height: 50px
}

}
.nav ul li:hover{
	background: rgba(20,20,20,.1);
	color: #fff
}

.nav li a{
	display: block;
	height: 50px;
	color: #333;
	text-decoration: none

}
.search{
	float: left;
	width: 100px;
	position: relative;
	transition: width 0.2S,border-color 0.2S;
	-webkit-transition: width 0.2S,border-color 0.2S;
}
.search-input{
	border: 1px solid #eaeaea;
	height: 40px;
	line-height: 40px;
	width:100%;
	padding-right:40px;
	margin-top: 5px;
	overflow: hidden;
	background: none；
	transition: width 0.2S,border-color 0.2S;
	-webkit-transition: width 0.2S,border-color 0.2S;
	border-radius: 3px
}
.search-input input{
	border: none;
	box-shadow: none;
	display:block;
	width: 100%;
	height: 100%;
	padding-left:5px;
	outline: none;
}

.search i{
	display: block;
	height: 40px;
	width:40px;
	color: #999;
	position: absolute;
	right: 0;
	top:5px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;

}




body{
		background:#ecf0f2!important;
		position: relative;
}
/*banner*/
.banner{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.banner a{
	display: block;
	height: 150px;
	background-image: url('http://ww1.rs.fanjian.net/i/e4/20/4a/32e41373c22060ab914ae59bfd8058c2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



/*list*/
.list-home{
	margin-top:20px;
	background: #ecf0f2
	text-align:center;
}
.rigthContent{
	margin-top:20px;
	margin-left:20px;
	width:20%;
	min-height: 500px;
	float:left;
	background-color: blue;
	padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 1px 1px 5px rgba(20,20,20,.1);
}
.content{
	float: left;
	width: 40%;
	min-width:800px;
	margin: 0px 0px 0px 12%;
}
.content-box{
	
	
}
.content-box>li{
	padding: 20px;
	background: #fff;
	margin-top:20px;
	box-shadow: 1px 1px 5px rgba(20,20,20,.1)
}
.content-box h1{
	font-size: 24px;
	columns: 
}
.title-fb span{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.title-fb span i,.title-fb span small{
	display: inline-block;
	
	color: #999;
	margin-right:10px;
	
}
.title-fb span small{
	font-size: 15px;
	vertical-align: bottom;
	color: #666;

}
.page-title{
	border-bottom: 1px solid rgba(30,30,30,.2);
	padding-bottom:20px;
}
.content-arc{
	margin-top:20px;
}
.content-img img{
	display: inline;
	max-width: 100%;
	height: auto;
}

.content-bottom{
	border-top: 1px solid rgba(30,30,30,.2);
	padding-top:20px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content:space-between;
}
.content-bottom ul{
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.content-bottom li{
	width:80px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	cursor: pointer;
}
.content-bottom li span{
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	color: #999;
	cursor: pointer;
}
.content-bottom li small{
	font-size: 15px;
display: inline-block;
margin-top: 2px;
	vertical-align: middle;
}

.content-bottom a{
	text-decoration: none;
	cursor: pointer;
}
/*dialog*/
.dialog{
	position: fixed;
	top: 0;
	left: 0;
	bottom:0;
	right:0;
	background: rgba(20,20,20,.3);
	z-index: 9999;
	display:none
}
.dialog .dialog-box{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateY(-50%)  translateX(-50%);
	background: #FFF;
	padding: 20px;
	border-radius: 5px;
	width: 500px;
	z-index: 99999;
	transition: all .55s
}
.dialog label{
	color:#484646;
	font-weight: 400
}
 .dialog-box h1{
 	font-size: 24px;
 	margin: 0
 }

 .dialog-box span{
 	display: block;
	position: absolute;
	font-size: 20px;
	font-weight: 100;
	right: 10px;
	top:10px;
	cursor: pointer;
	color: #666
}
 .sendbox{
 	margin-top: 15px;
 	display: none;
 }
.pinglunbox{
	margin-top: 15px;
	display: none
}
.dasangbox{
	margin-top: 15px;
	display: none
}
.ds-dialog{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	flex-wrap:wrap;
}
.btnAuto{
	width: 50%;
	display: block;
	height: 50px;
	line-height: 50px;
	border: none;
	box-sizing: none;
	background: #f63;
	color: #fff;
	border-radius: 5px;
	margin:20px auto 0 auto;
	transition: all 1s
}
.btnAuto:hover{
	background:#ffbb33
}
.ds-dialog li{
	width: 22%;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	cursor: pointer;
}
.addInput{
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	height: 30px;
	cursor: pointer;
	margin-top:10px 
}
.addInput:hover{
	background:#e3e3e3;
	color：#fff
}
.addInput small{
	display: block;
	text-align: center;
	font-size: 28px;
	color：#e3e3e3;
	line-height: 30px;
}
.uc-edit-tips {
    margin-bottom: 15px;
    border: 1px solid #FC9;
    background-color: #FFC;
    border-radius: 4px;
    padding: 10px;
    color: #C00;
    position: relative;
    cursor: pointer;
}
.uc-edit-tips .check {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    color: #aaa;
}
.uc-edit-tips li {
    list-style: inside decimal;
}
.fc-gray {
    color: #999;
}

.h-b .h-more {
    right: 10px;
    font-size: 12px;
}
.h-more {
    position: absolute;
    right: 0;
    top: 0;
}
.h-b .h-title {
    font-size: 14px;
    font-weight: bold;
}
.h-title {
    font-size: 18px;
    color: #ffbb33;
}
.h-b {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eaeaea;
    padding: 0 15px;
    position: relative;
}

.text-list li {
    line-height: 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #eaeaea;
    list-style: inside disc;
    position: relative;
}
.text-overflow {
    max-width: 100%;
    display: inherit;
    overflow: hidden;
    word-break: break-all;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.text-list li .text-list-num {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: top;
    margin-top: 2px;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 40px;
    background-color: #819CB9;
    color: #fff;
}
.text-list li:first-child .text-list-num {
    background-color: #f63;
}
.text-list li:nth-child(2) .text-list-num {
    background-color: #ffbb33;
}
.text-list li:nth-child(3) .text-list-num {
    background-color: #9C0;
}
.text-list li:nth-child(4) .text-list-num {
    background-color: #39C;
}

.h-tabpanel {
    height: 50px;
    margin-bottom: 15px;
}
.h-info {
    overflow: hidden;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    line-height: 16px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
    font-size: 12px;
    margin-right: 10px;
    float: left;
}
.h-updates {
    text-align: center;
    height: 40px;
    float: left;
}
.h-time {
    text-align: center;
    height: 40px;
    border-left: 1px solid #eaeaea;
    margin-left: 10px;
    padding-left: 10px;
    float: left;
}
.h-updates strong {
    font-size: 24px;
    display: block;
    line-height: 1;
}
.h-time strong, .h-updates strong {
    font-size: 24px;
    display: block;
    line-height: 1;
}
.h-reload .reload {
	margin-top: 5px;
    font-size: 22px;
}
.h-reload {
    cursor: pointer;
    float: right;
    height: 60px;
    width: 50px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
}